<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} - Yvonne Li</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
    <link rel="icon" type="image/x-icon" href="/assets/yli.png">
</head>
<body>
    <div class="header-container">
        <img src="/assets/yli.png" alt="Yvonne Li" class="profile-image">
        <nav>
            <ul>
                <li><a href="/" {% if page.url == '/' %}class="active"{% endif %}>Home</a></li>
                <li><a href="/about" {% if page.url == '/about/' %}class="active"{% endif %}>About</a></li>
                <li><a href="/cv" {% if page.url == '/cv/' %}class="active"{% endif %}>CV</a></li>
                <li><a href="/blog" {% if page.url == '/blog/' %}class="active"{% endif %}>Blog</a></li>
                <li><a href="mailto:yvonneli.dev@gmail.com">📧</a></li>
                <li><a href="https://github.com/yvonne-li">Github</a></li>
            </ul>
        </nav>
    </div>
    <div class="container">
        {{ content }}
    </div>
</body>
</html>